* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(128, 128, 128, 0.027);
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
	padding: 3rem;
	width: 100vw;
	height: 100vh;
}

.main__image {
	width: 100%;
	align-self: center;
}

.main__body {
	align-self: center;
}

.title {
	margin-bottom: 0.5rem;
	color: cornflowerblue;
}

.subtitle {
	margin-bottom: 2rem;
	color: gray;
	font-weight: 700;
}

.timer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15%, auto));
	column-gap: 0.5rem;
	margin-top: 2rem;
}

.timer__time {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0.5rem;
	width: 100%;
	background-color: midnightblue;
	color: white;
}

.timer__number {
	font-weight: 700;
	font-size: 1.5rem;
}

.hidden {
	display: none;
}
